@{
    ViewData["Title"] = "Home Page";
}
<img id="background" src="~/Photos/arka_plan1.png" alt="Backgroundimg" style="width:1519px" ;" />
<br /><br />
<h4 class="text-center text-dark">TOSS</h4>
<p class="lead text-center">
    <b>TOSS</b>  e-sınavlar hazırlayabileceğiniz insanlara <i>güvenli ve gözetimli bir ortamda</i> online sınavlar yapabileceğiniz ve baştan-uca özgün sınav süreçleri hayata geçirebileceğiniz bir online sınav sistemidir.
</p>
<br /><br />